body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/jpg/rustek-home-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -o-transition: 2s -o-filter linear;
}

.hidden {
  display: none;
}

.blur {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: url(#blur);
  filter: blur(15px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-transition: 2s -webkit-filter linear;
  -o-transition: 2s -o-filter linear;
}

.container-overlay {
  height: 100vh;
  width: 100vw;
  margin: auto;
  z-index: -8;
  position: absolute;
  opacity: 1;
}

.logo {
  color: white;
  z-index: 100;
  position: absolute;
  width: 98vw;
  height: 100%;
  margin-top: 40px;
  font-family: sans-serif;
  background-image: url("../../assets/svg/rustek-logo-lines.svg");
  background-repeat: no-repeat;
}

.dropping-soon {
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 2%;
  background-image: url("../../assets/svg/dropping-soon.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 20%;
  width: 40%;
}

.social-media {
  position: absolute;
  display: flex;
  height: 100px;
  width: 25%;
  bottom: 25%;
  background-color: cornflowerblue;
  flex-direction: row;
  background-color: transparent;
  z-index: 500;

}

.fb {
  height: 100%;
  width: 50%;
  background-color: transparent;
  background-image: url("../../assets/svg/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition:all 0.3s ease;
}

.fb:hover {
  border-radius: 5%;
  background-color: white;
}

.instagram {
  height: 100%;
  width: 50%;
  background-color: transparent;
  background-image: url("../../assets/svg/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition:all 0.3s ease;
}

.instagram:hover {
  border-radius: 5%;
  background-color: white;
}
